# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*build/
*develop-eggs/
*dist/
*downloads/
*eggs/
*.egg-info/
*lib/
*lib64/
*parts/
*sdist/
*var/
*wheels/
*share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtualenv
venv/
env/
.venv/
include/
pip-selfcheck.json

# Database
*.db
*.sqlite3
natter.db

# Logs
*.log
logs/
natter-web-admin/logs/

# Local dependencies
natter-web-admin/lib/

# IDE / Editor specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
